.header{
	overflow: hidden;
	background-color: white;
	height: 45px;
}
.header-back::before{
	content: '\2190';
	text-decoration: none;
}
.header-back{
	text-decoration: none;
	color: orange;
	font-size: 20px;
	padding-left: 10px;
	border-top: 20px;
}
.header-title{
	color: #000000;
	font-size: 25px;
	padding-left: 95px;
	padding-top: 5px;
}
.banner{
	height: 20px;
	width: 100%;
}
.like-content{
	height: 100px;
}
.content{
	display: inline-block;
	height: 100px;
	width: 250px;
}
.content-item{
	width: 100%;
	height: 300px;
}
.pic{
	height: 100px;
	width: 100px;
	display: inline-block;
	padding-left: 10px;
}
.shop-name{
	color: #000000;
	font-size: 20px;
	padding-top: 5px;
	padding-left: 10px;
}
.shop-sub{
	color: #A9A9A9;
	font-size: 12px;
	padding-left: 10px;
	padding-bottom: 15px;
}
.shop-sale{
	color: black;
	font-size: 12px;
	float: right;
}